<div class="mt-3">
  <div class="flex justify-content-center m-3">
    <button mat-raised-button color="primary" [routerLink]="['company/create']">
      <i class="fas fa-plus mr-2"></i> Add New Company
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-tab-group animationDuration="500ms" mat-align-tabs="center">
    <mat-tab label="Card View">
      <div class="container mt-4">
        <app-cards [targetCompanies]="targetCompanies"></app-cards>
      </div>
    </mat-tab>
    <mat-tab label="Table View">
      <div class="mt-4">
        <app-data-table [data]="targetCompanies"></app-data-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
