<div class="container mt-5">
  <div class="row" style="justify-content: space-between;">
    <div class="m-2">
      <button
        mat-raised-button
        color="primary"
        (click)="onClickEdit()"
        *ngIf="showEdit"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        *ngIf="showDelete"
        (click)="onClickDelete()"
      >
        Delete
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="showSave"
        (click)="onClickSave()"
        [disabled]="!companyDetailForm.valid || companyDetailForm.pristine"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onClickCancel()"
        *ngIf="showCancel"
      >
        Cancel
      </button>
    </div>
    <button mat-raised-button color="primary" class="m-2" *ngIf="!isCreating">
      Company Analytics
    </button>
  </div>
  <form [formGroup]="companyDetailForm">
    <mat-accordion class="mt-4">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              Basic Company Information
            </strong>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <mat-card> -->
        <!-- <mat-card-content class="flex"> -->
        <div class="row">
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Company Name</mat-label>
            <input
              #inputCompanyNameRef
              formControlName="companyName"
              matInput
            />
            <mat-error *ngIf="companyName.hasError('required')"
              >Company name is required</mat-error
            >
            <mat-error *ngIf="companyName.hasError('maxlength')"
              >Maximum of 100 characters</mat-error
            >
            <!-- <mat-error *ngIf="companyName.hasError('companyNameInUse')">{{
              companyName.getError('companyNameInUse').value
            }}</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Valuation Status</mat-label>
            <mat-select formControlName="status" matInput>
              <mat-option>--</mat-option>
              <mat-option
                *ngFor="let option of statusOptions"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="status.hasError('required')">
              Status is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Industry</mat-label>
            <input
              formControlName="industry"
              matInput
              [matAutocomplete]="autoIndustry"
            />
            <mat-autocomplete #autoIndustry="matAutocomplete">
              <mat-option
                *ngFor="let option of (filteredIndustries | async)"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="industry.hasError('required')"
              >Industry is required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Company Size</mat-label>
            <mat-select formControlName="size" matInput>
              <mat-option *ngFor="let size of sizeOptions" [value]="size">
                {{ size }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="size.hasError('required')"
              >Size is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Year Founded</mat-label>
            <mat-select formControlName="yearFounded" matInput type="number">
              <mat-option *ngFor="let option of yearRange" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="yearFounded.hasError('required')">
              Year Founded is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="col">
            <mat-label>*City</mat-label>
            <input formControlName="city" matInput />
            <mat-error *ngIf="city.hasError('required')"
              >City is required</mat-error
            >
            <mat-error *ngIf="city.hasError('maxlength')"
              >Maximum of 50 characters</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="standard" class="col">
            <mat-label>*State</mat-label>
            <mat-select formControlName="state" matInput>
              <mat-option>--</mat-option>
              <mat-option
                *ngFor="let option of stateOptions"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="standard" class="col">
          <mat-label>Company Description</mat-label>
          <textarea
            class="full-width-field"
            formControlName="description"
            matInput
            matTextareaAutosize
          ></textarea>
          <mat-error *ngIf="description.hasError('required')"
            >Description is required</mat-error
          >
          <mat-error *ngIf="description.hasError('maxlength')"
            >Maximum of 1000 characters</mat-error
          >
        </mat-form-field>
        <!-- </mat-card-content> -->
        <!-- </mat-card> -->
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              Primary Contact
            </strong>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Contact Name</mat-label>
            <input formControlName="contactName" matInput />
            <mat-error *ngIf="contactName.hasError('required')"
              >Contact name is required</mat-error
            >
            <mat-error *ngIf="contactName.hasError('maxlength')"
              >Maximum of 100 characters</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Contact Email</mat-label>
            <input formControlName="contactEmail" matInput type="email" />
            <mat-error *ngIf="contactEmail.hasError('required')"
              >Contact email is required</mat-error
            >
            <mat-error *ngIf="contactEmail.hasError('maxlength')"
              >Maximum of 100 characters</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="standard" class="col">
            <mat-label>*Contact Phone</mat-label>
            <input formControlName="contactPhone" matInput type="number" />
            <mat-error *ngIf="contactPhone.hasError('required')"
              >Contact phone is required</mat-error
            >
            <mat-error *ngIf="contactPhone.hasError('maxlength')"
              >Maximum of 100 characters</mat-error
            >
            <!-- <mat-error *ngIf="companyName.hasError('companyNameInUse')">{{
                  companyName.getError('companyNameInUse').value
                }}</mat-error> -->
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              Company Financials (in thousands)
            </strong>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div><strong>Assets</strong></div>
          <div formArrayName="assets" class="row">
            <div
              class="col"
              *ngFor="let c of assetsControls?.controls; let i = index"
            >
              <mat-form-field
                formGroupName="{{ i }}"
                appearance="standard"
                class="col"
              >
                <mat-label>{{ assets[i]?.year }}</mat-label>
                <input
                  formControlName="value"
                  matInput
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    (assetsControls?.controls)[i].controls.value.hasError(
                      'required'
                    )
                  "
                  >Value is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div><strong>Liabilities</strong></div>
          <div formArrayName="liabilities" class="row">
            <div
              class="col"
              *ngFor="let c of liabilitiesControls?.controls; let i = index"
            >
              <mat-form-field
                formGroupName="{{ i }}"
                appearance="standard"
                class="col"
              >
                <mat-label>{{ liabilities[i]?.year }}</mat-label>
                <input
                  formControlName="value"
                  matInput
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    (liabilitiesControls?.controls)[i].controls.value.hasError(
                      'required'
                    )
                  "
                  >Value is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div><strong>Sales Revenue</strong></div>
          <div formArrayName="salesRevenue" class="row">
            <div
              class="col"
              *ngFor="let c of salesRevenueControls?.controls; let i = index"
            >
              <mat-form-field
                formGroupName="{{ i }}"
                appearance="standard"
                class="col"
              >
                <mat-label>{{ salesRevenue[i]?.year }}</mat-label>
                <input
                  formControlName="value"
                  matInput
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    (salesRevenueControls?.controls)[i].controls.value.hasError(
                      'required'
                    )
                  "
                  >Value is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div><strong>Operating Costs</strong></div>
          <div formArrayName="operatingCosts" class="row">
            <div
              class="col"
              *ngFor="let c of operatingCostsControls?.controls; let i = index"
            >
              <mat-form-field
                formGroupName="{{ i }}"
                appearance="standard"
                class="col"
              >
                <mat-label>{{ operatingCosts[i]?.year }}</mat-label>
                <input
                  formControlName="value"
                  matInput
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    (operatingCostsControls?.controls)[
                      i
                    ].controls.value.hasError('required')
                  "
                  >Value is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div><strong>Profit Margin</strong></div>

          <div formArrayName="profitMargin" class="row">
            <div
              class="col"
              *ngFor="let c of profitMarginControls?.controls; let i = index"
            >
              <mat-form-field
                formGroupName="{{ i }}"
                appearance="standard"
                class="col"
              >
                <mat-label>{{ profitMargin[i]?.year }}</mat-label>
                <input
                  formControlName="value"
                  matInput
                  required
                  type="number"
                />
                <mat-error
                  *ngIf="
                    (profitMarginControls?.controls)[i].controls.value.hasError(
                      'required'
                    )
                  "
                  >Value is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
