<div class="mt-3">
  <mat-divider></mat-divider>
  <mat-tab-group animationDuration="500ms" mat-align-tabs="center">
    <!-- build tab for each financial data tab and pass in the typeName and typeData to the bar chart -->
    <mat-tab
      label="{{ dataType.name }}"
      *ngFor="let dataType of financialDataTypes"
    >
      <div class="row flex mt-5">
        <!-- Radio button to switch between graph types -->
        <!-- <mat-radio-group aria-label="" class="" [(ngModel)]="graphType">
          <mat-radio-button value="bar" class="m-2">Bar Chart</mat-radio-button>
          <mat-radio-button value="line" class="m-2"
            >Line Chart</mat-radio-button
          >
        </mat-radio-group> -->
      </div>
      <div class="row flex graph-container">
        <div
          class="row flex"
          style="background-color: rgb(244, 244, 244, 0.95);"
        >
          <app-bar-chart
            class="m-3"
            [chartData]="chartData[dataType.type]"
            [dataType]="dataType.name"
          ></app-bar-chart>
        </div>
        <ng-template class="row flex" #lineChart> </ng-template>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
