table {
  width: 100%;
}

.full-width-table {
  width: 100%;
}

.company-link {
  color: rgb(25, 123, 221);
  font-weight: bold;
  font-size: 1.1em;
}

.brand:hover {
  text-decoration: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.search-form-field {
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.search-form-field button {
  height: 32px;
  width: 32px;
}

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
}
